::selection {
    background-color: #FF0;
}
body {
    font-family: serif;
    font-size: 16px;
    line-height: 23px;
    color: #000;
    background-color: #FFF;
}
article {
    max-width: 605px;
    margin: auto;
}
